<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sistema de prevenção de catalcismos.">
    <meta property="og:site_name" content="Prevent Cataclysm Systems" />
    <meta property="og:title" content="Prevent Cataclysm Systems" />
    <meta property="og:url" content="https://homologacao.imap.org.br/prevent/" />
    <meta property="og:description" content="Sistema de prevenção de catalcismos.">
    <meta property="og:image" content="https://homologacao.imap.org.br/prevent/logo.png">
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="pt_BR" />
    <meta http-equiv="refresh" content="5">
    <title>@ViewBag.Title - Prevent Cataclysm Systems</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Prevent Cataclysm Systems", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Equipe", "About", "Home")</li>
                    <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-muted text-center">
            <p>&copy; @DateTime.Now.Year - Prevent Cataclysm Systems</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
